.ivu-menu-light.ivu-menu-horizontal .ivu-menu-item-active, .ivu-menu-light.ivu-menu-horizontal .ivu-menu-item:hover {
  border-bottom: 2px solid #937ef1;
}
.ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu:hover {
  border-bottom: 2px solid #937ef1;
}
.ivu-menu-light.ivu-menu-horizontal .ivu-menu-item-active {
  border-bottom: 2px solid #5030E5;
}
.ivu-menu-horizontal .ivu-menu-submenu .ivu-select-dropdown .ivu-menu-item-selected {
  color: #5030E5;
  &:hover {
    color: #5030E5;;
  }
}
.ivu-btn-primary {
  background-color: #5030E5;
  border: solid 1px #5030E5;
  &:hover {
    background-color: #937ef1;
  }
}

table {
  width: 100% !important;
}
.auto-resize {
  table {
    table-layout: auto !important;
  }
}

.ivu-select-visible .ivu-select-selection {
  border-color: @purple;
  box-shadow: 0 0 0 2px rgba(81, 48, 229, 0.2);
}

.ivu-select-selection-focused {
  border-color: @purple;
}

.ivu-input:hover, .ivu-select-selection:hover {
  border-color: @purple;
}

.ivu-input:focus, .ivu-select-visible:focus {
  border-color: @purple;
  box-shadow: 0 0 0 2px rgba(81, 48, 229, 0.2);
}

.ivu-select-item-selected, .ivu-select-item-selected:hover {
  color: @purple;
}

.ivu-btn:hover {
  color: @purple;
  background-color: #fff;
  border-color: @purple;
}

.ivu-btn:focus {
  color: @purple;
  background-color: #fff;
  border-color: @purple;
  box-shadow: 0 0 0 2px rgba(81, 48, 229, 0.2);
}

.ivu-btn-primary {
  border-color: @purple;
  background-color: @purple;
}

.ivu-btn-primary:hover {
  border-color: @dark-purple;
  color: @white;
  background-color: @dark-purple;
}

.ivu-page-item {
  border-color: @light-gray;
  a {
    color: @black;
  }
  background-color: @light-gray;
}

.ivu-page-item:hover {
  background-color: @dark-white;
  a {
    color: @black;
  }
  border-color: @dark-white;
}

.ivu-page-item-active {
  background-color: @gray;
  a {
    color: @white;
  }
  border-color: @gray;
}

.ivu-page-item-active:hover {
  background-color: @gray;
  a {
    color: @white;
  }
  border-color: @gray;
}

.ivu-page-next, .ivu-page-prev {
  background-color: @light-gray;
  border-color: @light-gray;
}

.ivu-page-next:hover, .ivu-page-prev:hover {
  border-color: @dark-white;
  background-color: @dark-white;
  a {
    color: @black;
  }
}

.ivu-page-disabled {
  background-color: @light-gray;
  border-color: @light-gray;
}

.ivu-page-disabled:hover {
  background-color: @light-gray;
  border-color: @light-gray;
  a {
    color: #ccc;
  }
}

.ivu-table-wrapper {
  border: none;
}

.ivu-table td {
  border-bottom-color: #dddddd;
}

.ivu-card-head {
  border-bottom-width: 0;
}

.ivu-table td {
  border-bottom-color: #dddddd;
}

.ivu-table .first-ac {
  background-color: #33CC99;
  color: #3c763d;
}

.ivu-table .ac {
  background-color: #dff0d8;;
  color: #3c763d;
}

.ivu-table .wa {
  color: #a94442;
  background-color: #f2dede;
}

.ivu-modal-footer {
  border-top-width: 0;
  padding: 0 18px 20px 18px;
}
.ivu-modal-body {
  padding: 18px;
}

.ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab{
  font-size: 20px;
  height: 35px;
  padding-top: 0px;
}

.ivu-card-body {
  padding: 16px 65px;
  ul .list {
    &:hover {
      color: #5030E5;
      border-left: 2px solid #5030E5;
    }
  }
}

.ivu-modal-footer {
  padding: 12px 18px;
}

.ivu-modal-header {
  border-color: #C4C4C4;
}