<!--
임시방편으로 utf-8 meta tag 삽입
-->
<meta charset="UTF-8"/>
<div>
    <table cellpadding="0" align="center"
           style="overflow:hidden;background:#fff;margin:0 auto;text-align:left;position:relative;font-size:14px; font-family:'lucida Grande',Verdana;line-height:1.5;box-shadow:0 0 3px #ccc;border:1px solid #ccc;border-radius:5px;border-collapse:collapse;">
        <tbody>
        <tr>
            <th valign="middle"
                style="height:38px;color:#fff; font-size:14px;line-height:38px; font-weight:bold;text-align:left;padding:10px 24px 6px; border-bottom:1px solid #5030e5;background:#5030e5;border-radius:5px 5px 0 0;">
            {{ website_name }}</th>
        </tr>
        <tr>
            <td>
                <div style="padding:20px 35px 40px;">
                    <h2 style="font-weight:bold;margin-bottom:5px;font-size:14px;">회원 가입을 축하합니다!</h2>
                    <p style="margin-top:20px">
                    하단 코드를 복사하여 인증해주세요.
                    </p>
                    <p style="margin-top:20px;text-align:center">
                      <div style="text-align: center;">
                        <p><span style="background-color: #F8C07F; padding: 7px; border-radius: 5px;">{{ token }}</span></p> 
                      </div>
                    </p>
                    <p style="margin-bottom:40px;"></p>
                    <p style="text-indent:0;text-align:right; color: #F5A547;">{{ website_name }}</p>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
</div>