<div>
    <table cellpadding="0" align="center"
           style="overflow:hidden;background:#fff;margin:0 auto;text-align:left;position:relative;font-size:14px; font-family:'lucida Grande',Verdana;line-height:1.5;box-shadow:0 0 3px #ccc;border:1px solid #ccc;border-radius:5px;border-collapse:collapse;">
        <tbody>
        <tr>
            <th valign="middle"
                style="height:38px;color:#fff; font-size:14px;line-height:38px; font-weight:bold;text-align:left;padding:10px 24px 6px; border-bottom:1px solid #5030e5;background:#5030e5;border-radius:5px 5px 0 0;">
            {{ website_name }}</th>
        </tr>
        <tr>
            <td>
                <div style="padding:20px 35px 40px;">
                    <h2 style="font-weight:bold;margin-bottom:5px;font-size:14px;">안녕하세요, <span style="color: #5030e5;"> {{ username }} </span> 님!</h2>
                    <p style="margin-top:20px">
                    아래 링크를 통해 비밀번호를 재설정 해주세요. 해당 링크는 20분동안만 유효합니다.
                    </p>
                    <p style="margin-top:20px">
                      <a href="{{ link }}">비밀번호 재설정</a> 
                    </p>
                    <p style="margin-top:20px">
                    계정을 안전하게 보호하기 위해 복잡한 비밀번호로 설정하는 것을 권장합니다.
                    </p>
                    <p style="margin-top:20px">
                    만약 다른 문제가 있거나, 문의사항이 있을 경우 관리자에게 문의하시기를 바랍니다
                    </p>
                    <p style="margin-left:2em;"></p>
                    <p style="text-indent:0;text-align:right;"><span style="color: F5A547;"> {{ website_name }} </span></p>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
</div>